.validationError {
    text-align: center;
    display: block;
    color: red;
    font-size: 15px;
}

.authorizationForm label {
    display: block;
    align-items: center;
    margin: 5px;
}

.authorizationForm div {
    display: inline-block;
    margin: 16px;
}

