.profileInfo {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 19.5rem;
    background-color:darkslategrey;
}

.mainSignUp {
    text-align: center;
}

.searchButton {
    font-size: 30px;
    margin-left: 45%;
}

.allItems {
    display: grid;
    grid-template-columns: repeat(14, 7.13%);
    margin-top: 10px;
    background-color: red;
}

.item {
    float: right;
    background-color: aquamarine;
    margin: 1px;
}