.profileInfo {
    font-size: 20;
    margin-left: 32px;
    margin-top: 32px;
}

.mainSignUp {
    text-align: center;
}

.searchLink {
    text-decoration: none;
    color:white;
    font-size: 30px;
    margin-left: 90%;
}

.item {
    float: right;
}