.profileInfo {
    font-size: 20;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 17.5rem;
    background-color:darkslategrey;
}

.mainSignUp {
    text-align: center;
}

.searchLink {
    text-decoration: none;
    color:white;
    font-size: 30px;
    margin-left: 90%;
}

.item {
    float: right;
}