.bar {
    width: 100%;
    height: 60px;
    align-items: right;
    background-color:darkslategray;
    display: flex;
}

.bar a {
    text-decoration: none;
}

.title {
    color:white;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 48px;
    display: inline-block;
}

.auth {
    list-style-type: none;
    text-align:right;
    font-size: 20px;
    margin-top: auto;
    margin-right: 32px;
    margin-left: auto;
}

.auth li {
    display: inline;
}

.auth li a {
    color:white;
    margin: 10px;
}