<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>MyUniverse</title>
        <link href="../styles/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <form method="POST" action="registration">
            <label>Email</label><br>
            <input type="text" name="email" /><br><br>
            <label>Username</label><br>
            <input type="text" name="username" /><br><br>
            <label>Password</label><br>
            <input type="text" name="password" /><br><br>
            <label>Verify password</label><br>
            <input type="text" name="password_verification" /><br><br>
            <input type="submit" value="Create account" />
        </form>
    </body>
</html>