.search-bar {
    font-size: 20px;
    text-align: center;
}

select {
    margin-right: -320px;
    margin-top: 10px;
    height: 25px;
}

.searchTitle {
    text-align: center;
}

.searchResults
{
    margin-left: 488px;
    width: 905px;
    height: 500px;
    background-color: white;
    overflow: scroll;
    height: 350px;
}

.singleResult
{
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    font-family: sans-serif;
    color: black;
    cursor: pointer;
}
